<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/posts">Главная</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/posts/my">Мои посты</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-danger" href="/logout">Выйти</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-light" href="/login">Войти</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
