<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Детали задачи</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        body {
            background-color: #a2ebf6;
        }
        .container {
            max-width: 600px;
            margin-top: 50px;
            background: rgb(184, 201, 220);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .btn-custom {
            border-radius: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mb-4">{{ todo.title }}</h1>
        <p class="text-muted">{{ todo.description }}</p>
        <p><strong>Дата выполнения:</strong> {{ todo.due_date }}</p>
        <p><strong>Статус:</strong> <span class="badge bg-{% if todo.status %}success{% else %}danger{% endif %}">
            {% if todo.status %} Выполнено {% else %} Не выполнено {% endif %}
        </span></p>
        <a href="{% url 'todo_list' %}" class="btn btn-primary btn-custom">Назад</a>
    </div>
</body>
</html>