body {
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

.card {
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    background-color: #222;
    color: #fff;
}

.text-primary {
    color: #00bfff !important;
}
