<!-- admin_login.html -->

{% extends "base.html" %}

{% block title %}Вход как администратор{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2 class="text-center">Вход как администратор</h2>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100">Войти</button>
        </form>
        
        {% if form.errors %}
            <div class="alert alert-danger mt-3">
                Неверный пароль.
            </div>
        {% endif %}
    </div>
{% endblock %}
