<header>
    <h1>Лист</h1>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'todo_list' %}"> Лист</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'todo_list' %}">Главная!!!</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
</header>
